.card-holder {
    background-color: #1A1B21;
    color: white;
    max-height: 50vh;
    text-align: center;
    /* display: grid; */
    gap: 0.4rem;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2rem;
    
}